<header>
  <div>
    <h1>Bestaurant</h1>
  </div>
  <div>
    <div>
      <input type="text" id="restaurantFilter" name="search" ng-model="search.name"></input>
      <label for="restaurantFilter">Restaurant Name</label>
    </div>
  </div>
</header>

<div class="pageWrapper">

  <div class="catalog">
    <div class="restaurantBlock" ng-repeat="restaurant in restaurants | filter:search:strict" ng-model="search">
      <img ng-src="{{ restaurant.image }}">
      <a href="#/restaurant_id">
        <div class="restaurantInfo">
          <div class="restaurantTitle">
            <h2>{{ restaurant.name }}</h2>
          </div>
          <div class="restaurantDescription">
            {{ restaurant.description }}
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
