<ng-include src="'restaurant/views/header.html'"></ng-include>

<div class="pageWrapper">


  <div class="catalog">
    <div class="restaurantBlock">
      <img src="http://lorempixel.com/500/500/food/1/">
      <a href="#/restaurants/whatever">
        <div class="restaurantInfo">
          <div class="restaurantTitle">
            <h2>McDonald's</h2>
          </div>
          <div class="restaurantDescription">
            Over a million burgers sold!
          </div>
        </div>
      </a>
    </div>
    <div class="restaurantBlock">
      <img src="http://lorempixel.com/500/500/food/2/">
      <a href="#/restaurants/whatever">
        <div class="restaurantInfo">
          <div class="restaurantTitle">
            <h2>Burger King</h2>
          </div>
          <div class="restaurantDescription">
            It tastes disgusting!
          </div>
        </div>
      </a>
    </div>
    <div class="restaurantBlock">
      <img src="http://lorempixel.com/500/500/food/3/">
      <a href="#/restaurants/whatever">
        <div class="restaurantInfo">
          <div class="restaurantTitle">
            <h2>Wendy's</h2>
          </div>
          <div class="restaurantDescription">
            Square means we care!
          </div>
        </div>
      </a>
    </div>
    <div class="restaurantBlock">
      <img src="http://lorempixel.com/500/500/food/4/">
      <a href="#/restaurants/whatever">
        <div class="restaurantInfo">
          <div class="restaurantTitle">
            <h2>Five Guys</h2>
          </div>
          <div class="restaurantDescription">
            Overpriced as fuck!
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
