/**************************
SASS VARIABLES
**************************/
/**************************
SETUP
**************************/
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  text-decoration: none;
  color: #212121; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

html {
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  color: #212121; }

body {
  background-image: url("../restaurant-bg.png"); }

html, body {
  height: 100%;
  width: 100%; }

.clearfix {
  overflow: auto; }

.pageWrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 0; }

/**************************
HEADER
**************************/
header {
  height: 250px;
  width: 100%;
  background-color: #980000;
  color: #DCFA7C;
  border-bottom: 5px solid #700000;
  display: flex;
  flex-direction: column; }
  header > div:first-of-type {
    height: 60%; }
  header > div:last-of-type {
    height: 40%; }
  header > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    header > div h1 {
      font-size: 5rem; }
    header > div div {
      width: 60%;
      padding: 5px;
      position: relative;
      border: 2px solid #DCFA7C; }
      header > div div input {
        width: 100%;
        padding: 5px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        border: none;
        background-color: #980000; }
        header > div div input:focus {
          outline: 0; }
      header > div div label {
        text-align: center;
        width: 175px;
        position: absolute;
        left: 2.5%;
        top: -17.5px;
        background-color: #980000; }
      header > div div .menuLabel {
        width: 135px; }

/**************************
CATALOG
**************************/
.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }
  .catalog .restaurantBlock {
    width: 50%;
    position: relative;
    height: 400px; }
    .catalog .restaurantBlock img {
      width: 100%;
      height: 100%; }
    .catalog .restaurantBlock .restaurantInfo {
      position: absolute;
      background: rgba(54, 25, 25, 0);
      transition: all .25s ease;
      -webkit-transition: all .25s ease;
      top: 0;
      height: 100%;
      width: 100%; }
      .catalog .restaurantBlock .restaurantInfo:hover {
        background: rgba(54, 25, 25, 0.5); }
        .catalog .restaurantBlock .restaurantInfo:hover .restaurantDescription {
          opacity: 1; }
      .catalog .restaurantBlock .restaurantInfo > div {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .catalog .restaurantBlock .restaurantInfo > div h2 {
          font-size: 2.25rem;
          color: white;
          text-shadow: 3px 3px 3px #000; }
      .catalog .restaurantBlock .restaurantInfo .restaurantDescription {
        opacity: 0;
        color: white;
        font-size: 1.125rem;
        font-family: "Roboto", sans-serif;
        transition: all .25s ease;
        -webkit-transition: all .25s ease; }

/**************************
MENU HEADER
**************************/
.menuSort {
  margin: auto;
  padding-bottom: 15px; }
  .menuSort > li {
    display: inline-block;
    font-size: 0.75em; }
    .menuSort > li > a {
      color: #DCFA7C; }

/**************************
DETAIL MENU ITEM
**************************/
.singleItemHeader > h1 {
  margin-top: 110px; }

.singleItem {
  width: 90%;
  background-color: white;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #980000;
  padding: 10px 15px 10px 15px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }
  .singleItem > div {
    flex-basis: 0; }
  .singleItem > .singleItemImg {
    flex-grow: 1;
    width: 200px;
    height: 200px; }
    .singleItem > .singleItemImg > img {
      display: block;
      max-width: 100%;
      max-height: 200px;
      width: auto;
      height: auto; }
  .singleItem > .singleItemDescription {
    padding-left: 30px;
    flex-grow: 4; }
    .singleItem > .singleItemDescription > ul {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .singleItem > .singleItemDescription > ul > li {
        display: inline-block; }
    .singleItem > .singleItemDescription > p {
      text-align: justify;
      width: 100%; }

.editItemLink {
  font-size: 0.6em;
  float: right; }

.singleItemEdit {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #980000;
  background-color: #980000;
  color: #DCFA7C;
  overflow: hidden; }
  .singleItemEdit h2 {
    font-size: 1.5rem;
    background-color: #DCFA7C;
    color: #980000;
    text-align: center;
    font-weight: lighter;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 50px; }
  .singleItemEdit #updateItemForm {
    width: 60%;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .singleItemEdit #updateItemForm > div:last-of-type {
      padding: 0; }
    .singleItemEdit #updateItemForm > div {
      position: relative;
      border: 2px solid #DCFA7C;
      margin-bottom: 25px;
      padding: 10px; }
      .singleItemEdit #updateItemForm > div > input[type=submit] {
        transition: all .25s ease;
        -webkit-transition: all .25s ease;
        padding: 10px; }
        .singleItemEdit #updateItemForm > div > input[type=submit]:hover {
          background-color: #DCFA7C;
          color: #980000; }
      .singleItemEdit #updateItemForm > div > input {
        text-align: center; }
      .singleItemEdit #updateItemForm > div > label {
        font-family: "Roboto Slab", serif; }
      .singleItemEdit #updateItemForm > div > input,
      .singleItemEdit #updateItemForm > div > textarea {
        width: 100%;
        background-color: #980000;
        border: none;
        font-size: 1.25rem; }
        .singleItemEdit #updateItemForm > div > input:focus,
        .singleItemEdit #updateItemForm > div > textarea:focus {
          outline: 0; }
      .singleItemEdit #updateItemForm > div > label {
        background-color: #980000;
        position: absolute;
        left: 2.5%;
        top: -17.5px; }

/**************************
SINGLE MENU ITEM
**************************/
.menu {
  width: 90%;
  background-color: white;
  border: 2px solid #980000;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px; }
  .menu > h2 {
    font-size: 1.5rem;
    background-color: #DCFA7C;
    color: #980000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    font-weight: lighter;
    padding-top: 25px;
    padding-bottom: 25px; }

.singleMenuItem {
  margin: auto;
  width: 90%;
  border: 2px solid #980000;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 15px;
  overflow: hidden; }
  .singleMenuItem:last-of-type {
    border-bottom: 0; }
  .singleMenuItem > .singleMenuItemDescription {
    padding-left: 30px;
    flex-grow: 4; }
    .singleMenuItem > .singleMenuItemDescription > ul {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .singleMenuItem > .singleMenuItemDescription > ul > li {
        display: inline-block; }
    .singleMenuItem > .singleMenuItemDescription > p {
      text-align: justify;
      width: 100%;
      font-size: 0.75em; }
    .singleMenuItem > .singleMenuItemDescription > .fa-trash-o {
      float: right; }

.hide {
  display: none; }

/**************************
QUERIES
**************************/
@media screen and (max-width: 960px) {
  header > div div {
    width: 90%; } }
@media screen and (max-width: 850px) {
  .catalog {
    justify-content: center; }
    .catalog .restaurantBlock {
      width: 65%;
      margin-bottom: 25px; }

  .singleItem {
    display: block; }
    .singleItem > .singleItemImg {
      margin: auto;
      margin-bottom: 20px; }
    .singleItem > .singleItemDescription {
      padding: 0px 10px 0px 10px; } }
@media screen and (max-width: 650px) {
  header {
    height: 175px; }
    header > div h1 {
      font-size: 3rem; }
    header > div div input {
      font-size: 1rem; }
    header > div div label {
      font-size: 0.85rem;
      width: 148px;
      top: -14.5px; }

  .catalog .restaurantBlock {
    width: 98%; } }
@media screen and (max-width: 400px) {
  header > div h1 {
    font-size: 2.25rem; }

  .catalog .restaurantBlock {
    height: 300px; }
    .catalog .restaurantBlock .restaurantInfo .restaurantTitle h2 {
      font-size: 1.75rem; } }

/*# sourceMappingURL=styles.css.map */
