/**************************
SASS VARIABLES
**************************/

$pt: #212121;
$ht: #E6C0C3;
$st: #727272;
$dt: #B6B6B6;
$ddt: #878787;
$wt: rgba(255,255,255,0.75);

$c1: #CCAA55;
$dc1: #700000;
$c2: #980000;
$c3: #DCFA7C;
$c4: #BEE305;
$c5: #BBBB55;

$success: #4CAF50;
$darksuccess: #388E3C;

$failure: #F44336;
$darkfailure: #D32F2F;

$sans: 'Roboto', sans-serif;
$serif: 'Roboto Slab', serif;

/**************************
SETUP
**************************/

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $pt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
}

h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 24px;
  font-family: $serif;
  color: $pt;
}

body {
  background-image: url('../restaurant-bg.png');
}

html, body {
  height: 100%;
  width: 100%;
}

.clearfix {
  overflow: auto;
}

.pageWrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 0;
}

/**************************
HEADER
**************************/

header {
  height: 250px;
  width: 100%;
  background-color: $c2;
  color: $c3;
  border-bottom: 5px solid $dc1;
  display: flex;
  flex-direction: column;

  > div:first-of-type {
    height: 60%;
  }

  > div:last-of-type {
    height: 40%;
  }

  > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 5rem;
    }

    div {
      width: 60%;
      padding: 5px;
      position: relative;
      border: 2px solid $c3;

      input {
        width: 100%;
        padding: 5px;
        text-align: center;
        font-family: $sans;
        font-size: 1.5rem;
        border: none;
        background-color: $c2;

        &:focus {
          outline: 0;
        }
      }

      label {
        text-align: center;
        width: 175px;
        position: absolute;
        left: 2.5%;
        top: -17.5px;
        background-color: $c2;
      }

      .menuLabel {
        width: 135px;
      }
    }
  }
}

/**************************
CATALOG
**************************/

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  .restaurantBlock {
    width: 50%;
    position: relative;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
    }

    .restaurantInfo {
      position: absolute;
      background: rgba(54, 25, 25, .0);
      transition: all .25s ease;
      -webkit-transition: all .25s ease;
      top: 0;
      height: 100%;
      width: 100%;

      &:hover {
        background: rgba(54, 25, 25, .5);

        .restaurantDescription {
          opacity: 1;
        }
      }

      > div {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
          font-size: 2.25rem;
          color: white;
          text-shadow: 3px 3px 3px #000;
        }
      }

      .restaurantDescription {
        opacity: 0;
        color: white;
        font-size: 1.125rem;
        font-family: $sans;
        transition: all .25s ease;
        -webkit-transition: all .25s ease;
      }
    }
  }
}

/**************************
MENU HEADER
**************************/

.menuSort{
  margin:auto;
  padding-bottom: 15px;

  >li{
    display:inline-block;
    font-size: 0.75em;

    >a{
    color: $c3;
  }
  }
}

/**************************
DETAIL MENU ITEM
**************************/

.singleItemHeader{
  >h1{
    margin-top: 110px;
  }
}

.singleItem{
  width: 90%;
  background-color: white;
  margin:auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid $c2;
  padding: 10px 15px 10px 15px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  >div{
    flex-basis:0;
  }
  > .singleItemImg{
    flex-grow: 1;
    width:200px;
    height:200px;

    >img{
      display:block;
      max-width: 100%;
      max-height: 200px;
      width: auto;
      height: auto;
    }
  }
  > .singleItemDescription{
    padding-left: 30px;
    flex-grow: 4;
    >ul{
      display:flex;
      justify-content: space-between;
      width: 100%;
      >li{
        display:inline-block;
      }
    }
    >p{
      text-align: justify;
      width: 100%;
    }
  }
}

.editItemLink{
  font-size: 0.6em;
  float:right;
}

.singleItemEdit{
  width: 90%;
  margin:auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid $c2;
  padding: 10px 15px 10px 15px;
  background-color: $c2;
  color: $c3;
  overflow: hidden;

  h2 {
    text-align: center;
    font-weight: lighter;
    margin-top: 25px;
    margin-bottom: 35px;
  }

  #updateItemForm {
    width: 60%;
    font-family: $sans;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    > div:last-of-type {
      padding: 0;
    }

    > div {
      position: relative;
      border: 2px solid $c3;
      margin-bottom: 25px;
      padding: 10px;

      > input[type=submit] {
        transition: all .25s ease;
        -webkit-transition: all .25s ease;
        &:hover {
          background-color: $c3;
          color: $c2;
        }
      }

      > input {
        text-align: center;
      }

      > label {
        font-family: $serif;
      }

      > input,
      > textarea {
        width: 100%;
        background-color: $c2;
        border: none;
        font-size: 1.25rem;

        &:focus {
          outline: 0;
        }
      }

      > label {
        background-color: $c2;
        position: absolute;
        left: 2.5%;
        top: -17.5px;
      }
    }
  }
}

/**************************
SINGLE MENU ITEM
**************************/

.menu{
  width:90%;
  background-color: white;
  border: 2px solid $c2;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;

  >h1{
    background-color: $c2;
    color: $c3;
    text-align: center;
    border: 2px solid $c2;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }
}

.singleMenuItem{
  margin:auto;
  width: 90%;
  border: 2px solid $c2;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 15px;
  overflow: hidden;

  &:last-of-type {
    border-bottom: 0;
  }

  > .singleMenuItemDescription{
    padding-left: 30px;
    flex-grow: 4;
    >ul{
      display:flex;
      justify-content: space-between;
      width: 100%;
      >li{
        display:inline-block;
      }
    }
    >p{
      text-align: justify;
      width: 100%;
      font-size: 0.75em;
    }
    >.fa-trash-o{
      float:right;
    }
  }
}


.hide{
  display: none;
}


/**************************
QUERIES
**************************/

@media screen and (max-width: 960px) {
  header {
    > div {
      div {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .catalog {
    justify-content: center;
    .restaurantBlock {
      width: 65%;
      margin-bottom: 25px;
    }
  }
  .singleItem{
    display:block;

    >.singleItemImg{
      margin:auto;
      margin-bottom: 20px;
    }

    >.singleItemDescription{
      padding: 0px 10px 0px 10px;
    }
  }
}

@media screen and (max-width: 650px) {
  header {
    height: 175px;
    > div {
      h1 {
        font-size: 3rem;
      }

      div {
        input {
          font-size: 1rem;
        }
        label {
          font-size: 0.85rem;
          width: 148px;
          top: -14.5px;
        }
      }
    }
  }
  .catalog {
    .restaurantBlock {
      width: 98%;
    }
  }
}

@media screen and (max-width: 400px) {
  header {
    > div {
      h1 {
        font-size: 2.25rem;
      }
    }
  }
  .catalog {
    .restaurantBlock {
      height: 300px;

      .restaurantInfo {
        .restaurantTitle {
          h2 {
            font-size: 1.75rem;
          }
        }
      }
    }
  }
}
