<ng-include src="'menu/views/header.html'"></ng-include>

<a href="#/restaurant_id/">Back to Menu</a>
<div class="singleItem">
  <div class="singleItemImg">
    <img src="http://lorempixel.com/output/food-q-c-200-200-9.jpg"/>
  </div>
  <div class="singleItemDescription">
    <ul>
      <li><h3>Fat Belly Burger</h3></li>
      <li><h4>$24.98</h4></li>
    </ul>
    <p>A cheeseburger is a hamburger topped with cheese. Traditionally, the slice of cheese is placed on top of the meat patty, but the burger can include many variations in structure, ingredients, and composition.</p>
  </div>
</div>
