<header>
  <div class="singleItemHeader">
    <h1>Bestaurant</h1>
  </div>
</header>

<a href="#/restaurant_id/">Back to Menu</a>
<div class="singleItem">
  <div class="singleItemImg" ng-if="item.pic">
    <img ng-src="{{item.pic}}"/>
  </div>
  <div class="singleItemDescription">
    <ul>
      <li><h3>{{item.name}}</h3></li>
      <li><h4>{{item.price | currency}}</h4></li>
    </ul>
    <p>{{item.description}}</p>
    <a href="" class="editItemLink" ng-click="toggleUpdateItem"><i class="fa fa-wrench"></i> Update Item</a>
  </div>
</div>
<div class="singleItemEdit">
  <input type="text" name="name" value="{{item.name}}">
  <input type="text" name="price" value="{{item.price}}">
  <input type="text" name="price" value="{{item.category}}">
  <input type="text" name="pic" value="{{item.pic}}">
  <textarea name="description" rows="8" cols="40">{{item.description}}</textarea>
  <button type="button" name="button">Update</button>
</div>
