<header>
  <div>
    <h1>Bestaurant</h1>
  </div>
  <div>
    <div>
      <input type="text" id="itemFilter" name="itemFilter" ng-model="searchFilter">
      <label class="menuLabel" for="itemFilter">Search Menu</label>
    </div>
  </div>
  <ul class="menuSort">
    <li>Sort by: </li>
    <li><a href="" ng-click="selectSort('price', $event)">Price (low to high) </a> |</li>
    <li> <a href="" ng-click="selectSort('name', $event)"> Name (A - Z) </a> |</li>
    <li> <a href="" ng-click="selectSort('category', $event)"> Category</a></li>
  </ul>
</header>
<a href="#/restaurants">Back to Restaurants</a>

<div class="menu">
  <h2>Menu</h2>

  <div class="singleMenuItem" ng-repeat="item in items | orderBy:sortName | filter:searchFilter">
    <div class="singleMenuItemDescription">
      <ul>
        <li><h2><a href="#/restaurant_id/{{item.id}}">{{item.name}}</a></h2></li>
        <li><h4>{{item.price | currency}}</h4></li>
      </ul>
      <p>{{item.description}}</p>
      <a href="" ng-click="deleteItem(item.id)"<i class="fa fa-trash-o"></i></a>
    </div>
  </div>

</div>
