<header>
  <div>
    <h1>Bestaurant</h1>
  </div>
  <div>
    <div>
      <input type="text" id="itemFilter" name="itemFilter" ng-model="searchFilter">
      <label class="menuLabel" for="itemFilter">Search Menu</label>
    </div>
  </div>
  <ul class="menuSort">
    <li>Sort by: </li>
    <li><a href="" ng-click="selectSort('price', $event)">Price (low to high) </a> |</li>
    <li> <a href="" ng-click="selectSort('name', $event)"> Name (A - Z) </a> |</li>
    <li> <a href="" ng-click="selectSort('category', $event)"> Category</a></li>
  </ul>
</header>

<div class="pageWrapper">
  <a href="#/restaurants">Back to Restaurants</a>
  <a href="#/editRestaurant">Edit Restaurant</a>

  <h2 class="menuTitle">Menu</h2>
  <div class="menu">
    <div class="singleMenuItem" ng-repeat="item in items | orderBy:sortName | filter:searchFilter">
      <div class="singleMenuItemDescription">
        <div>
          <a href="#/restaurant_id/{{item.id}}">{{item.name}}</a>
        </div>
        <div>
          {{item.description}}
        </div>
        <div>
          {{item.price | currency}}
        </div>
        <a href="" ng-click="deleteItem(item.id)"<i class="fa fa-trash-o"></i></a>
      </div>
    </div>
  </div>

  <div class="singleItemEdit">
    <h2>Add an Item</h2>
    <form id="updateItemForm" novalidate>
      <div>
        <input type="text" name="name" ng-model="newItem.name" required>
        <label for="name">Name</label>
      </div>
      <div>
        <input type="text" name="price" ng-model="newItem.price" required>
        <label for="price">Price</label>
      </div>
      <div>
        <input type="text" name="category" ng-model="newItem.category">
        <label for="category">Category</label>
      </div>
      <div>
        <input type="text" name="pic" ng-model="newItem.pic">
        <label for="pic">Image</label>
      </div>
      <div>
        <textarea name="description" rows="8" cols="40" ng-model="newItem.description"></textarea>
        <label for="description">Description</label>
      </div>
      <div>
        <input type="submit" name="submitButton" value="Add" ng-click="addItem(newItem)">
        <div class="alertItem"><h3>Item Added</h3></div>
      </div>
    </form>
  </div>
</div>
