<ng-include src="'menu/views/header.html'"></ng-include>
<a href="#/restaurants">Back to Restaurants</a>

<div class="menu">
  <h1>Menu</h1>
  <div class="singleMenuItem">
    <div class="singleMenuItemDescription">
      <ul>
        <li><h2><a href="#/restaurant_id/item_id">Fat Belly Burger</a></h2></li>
        <li><h4>$24.98</h4></li>
      </ul>
      <p>A cheeseburger is a hamburger topped with cheese. Traditionally, the slice of cheese is placed on top of the meat patty, but the burger can include many variations in structure, ingredients, and composition.</p>
    </div>
  </div>
</div>
